@{
    ViewData["Title"] = "Home";
}

<div class="chartCard h-100 d-flex flex-column justify-content-center align-items-center mx-5">
    <canvas id="myChart" class="d-flex align-items-center justify-content-center"></canvas>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/chartjs-chart-geo@4.3.0/build/index.umd.min.js"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>
}