/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: #ec4104 !important;
  font-weight: bold;
  font-size: 2rem;
}

footer a {
  color: #0077cc;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.btn-fill:hover {
  border-color: #ec4104;
  background-color: #e53e03;
  color: white;
}

.btn-fill {
  border-color: #ec4104;
  background-color: #ec4104;
  color: white;
}

.rounded-input {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.rounded-button {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.footer {
  line-height: 60px;
}


